#imagen {
    width: 100px;
    height: 100px;
    margin: 100px auto;
    display: block;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
footer{
    text-align: center;
    margin-top: 50px;
    font-style: italic;
}